<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.wireme" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="13" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:name="com.wireme.activity.WireMeApplication"
		android:debuggable="true">
		
		<activity android:name="com.wireme.activity.MainActivity"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar"
			android:configChanges="orientation|keyboardHidden">
			
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>

		<activity android:name="com.wireme.player.GPlayer"
			android:theme="@android:style/Theme.NoTitleBar"
			android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity
			android:name="com.wireme.player.ImageViewer"
			android:configChanges="orientation|keyboardHidden"
			android:theme="@android:style/Theme.NoTitleBar" >
		</activity>

		<service android:name=".activity.WireUpnpService" />

	</application>
</manifest>